<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sveiks mana lapā!</h1>
    <p>Esmu super programmētajs.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla beatae earum, repudiandae ipsam doloremque minus soluta officia non odio iure? Consequuntur accusantium dolores voluptas dicta temporibus. Praesentium dolores perspiciatis ipsam.</p>

</body>
</html>